@import "../../style.scss";

.register {
  height: 100vh;
  background-color: rgb(193, 190, 255);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    display: flex;
    flex-direction: row-reverse;
    width: 60%;
    min-height: 600px;
    border-radius: 10px;
    background-color: whitesmoke;
    overflow: hidden;

    @include mobile {
      display: flex;
      flex-direction: column-reverse;
      width: 90%;
      gap: 10px;
    }
    @include tablet {
      width: 90%;
    }

    .left {
      flex: 1;
      background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
        url("https://images.pexels.com/photos/10159761/pexels-photo-10159761.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")
          center;
      background-size: cover;
      padding: 50px;
      color: whitesmoke;
      display: flex;

      flex-wrap: wrap;

      flex-direction: column;
      justify-content: center;

      gap: 30px;

      @include mobile {
        padding: 20px;
        gap: 15px;
      }

      h1 {
        font-size: 100px;
        line-height: 100px;
        font-weight: 400;

        @include mobile {
          font-size: 40px;
          line-height: 40px;
        }
        @include tablet {
          font-size: 50px;
          line-height: 50px;
        }
      }

      //   p {
      //   }

      span {
        font-size: 14px;
      }

      button {
        width: 50%;
        padding: 10px;
        border: none;
        color: rebeccapurple;
        cursor: pointer;
        font-weight: bold;
      }
    }
    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      gap: 50px;

      @include mobile {
        padding: 20px;
        gap: 15px;
      }

      h1 {
        color: #555;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include mobile {
          gap: 15px;
        }

        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;

          @include mobile {
            padding: 10px 10px;
          }
        }

        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #938eef;
          color: whitesmoke;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
